{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true },
    "project": [
      "./packages/client/tsconfig.json",
      "./packages/server/tsconfig.json",
      "./tsconfig.json"
    ]
  },
  "plugins": ["prettier", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "@typescript-eslint/array-type": ["warn", { "default": "array-simple" }],
    "@typescript-eslint/no-extraneous-class": ["warn", { "allowWithDecorator": true }],
    "@typescript-eslint/no-invalid-void-type": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "object-curly-spacing": ["error", "always"],
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^(assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|https|module|net|os|path|punycode|querystring|readline|repl|stream|string_decoder|sys|timers|tls|tty|url|util|vm|zlib|freelist|v8|process|async_hooks|http2|perf_hooks)(/.*|$)"],
          ["^react", "^"],
          ["^(client|server|shared)(/.*|$)", "^\\.", "^.+\\.css$"]
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": "packages/client/**/*",
      "extends": "plugin:react-hooks/recommended"
    },
    {
      "files": "*.d.ts",
      "rules": { "no-var": "off" }
    }
  ],
  "ignorePatterns": [
    "coverage",
    "dist",
    "node_modules",
    "*.html"
  ]
}
